.env
.env.*
!.env.example
.idea
.vscode
.vagrant
node_modules
node_modules/*
/node_modules
/node_modules/*
.DS_Store

/config/license.key
/storage/*
!/storage/.gitkeep
/translations/*
!/translations/.gitkeep
/vendor
/web/content
/web/cpresources
/web/fonts
/web/images
/web/styles
/web/scripts
/web/filecache
/web/uploads
/web/mix-manifest.json
/.baluchon-alzheimer-develop.env
/_SOURCE
/docker-compose.yml
