{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": [
    "@shopify/prettier-plugin-liquid",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.twig",
      "options": {
        "parser": "liquid-html",
        "singleQuote": false
      }
    }
  ]
}
